<ul role="list" class="divide-y divide-gray-100 mt-4">
  <% todos.each do |todo| %>
  <li class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4 items-center cursor-pointer" onclick="changeState(<%= todo.id %>)", cur>
      <%= check_box_tag(todo.id, todo.id, todo.done) %>
      <%= todo.title %>
    </div>
    <div class="grow-1 flex">
      <%= link_to "Edit", {controller: "todos", action: "edit", id: todo.id, todo_list_id: @todo_list.id }, class: 'py-2 px-4 bg-blue-500 text-white inline rounded-md cursor-pointer mr-2' %>
      <%= button_to "Delete", {controller: "todos", action: "destroy", id: todo.id, todo_list_id: @todo_list.id}, method: :delete, form: { data: { turbo_confirm: "Are you sure"}}, class: 'py-2 px-4 bg-red-500 text-white inline rounded-md cursor-pointer' %>
    </div>
  </li>
  <% end %>
</ul>

<script>
  changeState = (id) => {
    const checked = !document.getElementById(id).checked

    const path = checked ? `/check/${id}.json` : `/uncheck/${id}.json`

    fetch(path,
      { 
        method: 'POST',
        headers: {
          "Content-Type": "application/json",
          "X-CSRF-Token": document.querySelector("meta[name='csrf-token']").content,
        },
      }
    ).then(() => {
      document.getElementById(id).checked = checked ? "checked" : ""
    })

  }
</script>