
<%= form_with model: todo_list do |form| %>
  <div class="mb-4">
    <%= form.label :title, class:"block text-gray-600" %><br>
    <%= form.text_field :title, class: "w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" %>

    <% todo_list.errors.full_messages_for(:title).each do |message| %>
      <div class="mt-4 bg-red-500 text-white p-4 rounded-md w-52">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label 'Share todo list with' , class:"block text-gray-600" %><br>
    <%= select("todo_list", :user_id, @users.collect {|user| [ user.email, user.id ] }, { prompt: "Select Person" }) %>
  </div>

  <div class="mt-2 flex">
    <%= link_to 'Back' , { action: 'index' , controller: "todo_lists" }, class: 'py-2 px-4 bg-blue-500 text-white mr-4 rounded-md cursor-pointer' %>

    <% if todo_list.id %>
      <%= form.submit "Save" , class: 'py-2 px-4 bg-blue-500 text-white cursor-pointer rounded-md cursor-pointer' %>
    <% else %>
      <%= form.submit "Create" , class: 'py-2 px-4 bg-blue-500 text-white cursor-pointer rounded-md cursor-pointer' %>
    <% end %>


<% end %>    
  <% if todo_list.id %>
    <%= button_to "Delete", {controller: "todo_lists", action: "destroy", id: @todo_list.id}, method: :delete, form: { data: { turbo_confirm: "Are you sure"}}, class: 'ml-4 py-2 px-4 bg-red-500 text-white inline rounded-md cursor-pointer' %>
  <% end %>
</div>