<%= render "partial/dashboard" , layout: 'box' , user: @user, title: @todo.title do %>

  <%= form_with model: @todo, url: "/todo_lists/#{@todo_lists_id}/todos/#{@todo.id}", method: 'PATCH' do |form| %>
    <%= render "partial/todo_create_update_form", todo: @todo, form: form %>

    <div class="mt-2 flex">
      <%= link_to 'Back' , { action: 'index' , controller: "todos" }, class: 'py-2 px-4 bg-blue-500 text-white mr-4 rounded-md cursor-pointer' %>

      <%= form.submit "Save" , class: 'py-2 px-4 bg-blue-500 text-white cursor-pointer rounded-md cursor-pointer' %>
    </div>
  <% end %>
<% end %>